<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="db" connectionString="Data Source=Localhost:Database=数据库名字;User ID=登录名;Password=密码"/>
  </connectionStrings>
  
  
</configuration>